@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body{ 
    background-color: #000;
    
}

main {
    width: 180px;
    height: 324px;
    margin: auto;
    background-color: #243576;
    margin-top: 50px;
}

nav {
    width: 180px;
    background-color: #bac9ff;
    margin-top: -3px;
}

ul {
    text-align: center;
}

li {
    list-style: none;
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}