@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

main {
    position: relative;
    width: 507px;
    height: 905px;
    margin: auto;
    background-color: #243576;
    margin-top: 50px;
}

nav#begin {
    position: absolute;
    top: 700px;
    left: 200px;
}

nav ul li {
    list-style: none;
    position: absolute;
    top: 860px;
}

li#search {
    padding-top: 8px;
    left: 108px;
}

li#calendar {
    left: 238px;
}

li#add {
    padding-top: 5px;
    left: 365px;
}
